.set-height{
    height: 27rem !important;
    max-height: 27rem !important;
}
.global-family{
    font-family:Times New Roman !important;
}
.checked {
    color: orange;
}
.unCheck{
    color: #999393;
}
.text-uppercase{
    text-transform: capitalize;
}
.heart-icon {
    color: white;
  }
.set-img{
    /* background-image: url('../Icons//heart-regular.svg'); */
    position: absolute;
    right: 10px;
    top: 10px;
}
.title_click:hover{
    text-decoration: underline !important;
}
img:hover{
    cursor: pointer !important;
}